@use './partials/_variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~bootstrap/scss/bootstrap';

.fa-eye:hover{
    color: cornflowerblue;
}
.fa-pen:hover{
    color: green;
}
.fa-trash:hover{
    color: red;
}
a{
    text-decoration: none;
    color: gray;
}

body{
    background-color: cadetblue;
}