@use './partials/_variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~bootstrap/scss/bootstrap';

.fa-eye{
    color: lightgrey;
    &:hover{
        color: cornflowerblue;
    }
}
.fa-pen{
    color: lightgrey;
    &:hover{
        color: green;
    }
}
.fa-trash{
    color: lightgrey;
    &:hover{
        color: red;
    }
}

a{
    text-decoration: none;
    color: white !important;
}
.dropdown-menu{
    background-color: #212529;
    .dropdown-item:hover{
        background-color: rgb(13, 110, 253) !important;
    }
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 400px; /* Altezza del footer */
    background-image: url("../img/marmo.jpg");
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
nav{
    background-color: #212529;
}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
main{
    margin-top: 150px;
}